
img.download{
	width: 450px;
	height: 450px;
	margin-top: 140px;
	margin-left: 100px;
	position: -webkit-sticky;
	position: sticky;
	top: 120px;
}

h2{
	margin-left: 650px;
	margin-top: -500px;
	color: #406B15;
	font-size: 1.2em;
   
}
.content-table {
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 650px;
  margin-right: 100px;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;
}

.content-table thead tr {
  background-color: #9AAE09;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  text-align:center;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #9AAE09;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #9AAE09;
}

.content-table tbody td.tunga {
	text-align:center;
}


:root{
	--main-color: #9AAE09;
	--color-dark: #1D2231;
	--text-grey:  #8390A2;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration:none;
	font-family: 'Poppins', sans-serif;
}

.sidebar {
	width:345px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background: var(--main-color);
	z-index: 100;
	transition: width 300ms;
}

.sidebar-brand {
	height: 90px;
	padding: 1rem 0rem 1rem 2rem;
	color: #fff;
}

.sidebar-brand span {
	display: inline-block;
	padding-right: 1rem;
}

.sidebar-menu li {
	width: 100%;
	margin-bottom: 1.3rem;
	padding-left: 1rem;
}

.sidebar-menu a {
	padding-left: 1rem;
	display: block;
	color: #fff;
	font-size: 1.1rem;
}

.sidebar-menu a span:first-child {
	font-size: 1.5rem;
	padding-right: 1rem;
}


.sidebar-menu{
		margin-top: 1rem;
}

.sidebar-menu a.active {
	background: #fff;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: var(--main-color);
	border-radius: 30px 0px 0px 30px;
}

#nav-toggle:checked + .sidebar {
	width: 70px;
}

#nav-toggle:checked + .sidebar .sidebar-brand ,
#nav-toggle:checked + .sidebar li {
	padding-left: 1rem;
	text-align: center;
}

#nav-toggle:checked + .sidebar li a {
	padding-left: 0rem;
}


#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child {
	display: none; 
}

#nav-toggle:checked ~ .main-content {
	margin-left: 70px;
}

#nav-toggle:checked ~ .main-content header {
	width: calc(100% - 70px);
	left: 70px;
}

.main-content{
	transition: margin-left 300ms;
	margin-left:345px;
}

header {
	background: #fff;
	display: flex;
	justify-content: space-between;
	padding: 1rem 1.5rem;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	position: fixed;
	left: 345px;
	width: calc(100% - 345px);
	top: 0;
	z-index: 100;
	transition: left 300ms;
}
	
header h2 {
	color: #222;
}

header label span {
	font-size: 1.7rem;
	padding-right: 1rem;
}

.search-wrapper {
	border: 1px solid #ccc;
	border-radius: 30px;
	height: 50px;
	display: flex;
	align-items: center;
	overflow-x: hidden;
}

.search-wrapper span {
	display: inline-block;
	padding: 0rem 1rem;
	font-size: 1.5rem;
}

.search-wrapper input {
	height: 100%;
	padding: 0.5rem;
	border: none;
	outline: none;
}

.user-wrapper {
	display: flex;
	align-items: center;	
}

.user-wrapper img {
	border-radius: 50%;
	margin-right: 1rem;
}

.user-wrapper small {
	display: inline-block;
	color: var(--text-grey);
}

main {
	margin-top: 85px;
	padding: 2rem 1.5rem;
	background: #f1f5f9;
	min-height: calc(100vh - 90px);
}

.cards {
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 2rem;
	margin-top: 1rem;
}

.card-single {
	display: flex;
	justify-content: space-between;
	background: #fff;
	padding: 2rem; 
	border-radius: 2px;
}

.card-single div:last-child span {
	font-size: 3rem;
	color: var(--main-color);
}

.card-single div:first-child span{
	color: var(--text-grey);
}

.card-single:last-child {
	background: var(--main-color);
}

.card-single:last-child h1,
.card-single:last-child div:first-child span
.card-single:last-child div:last-child span {
	color: #fff;
}
.recent-grid {
	margin-top: 3.5rem;
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: 65% auto;
}

.card{
	background: #fff;
	border-radius: 5px;
}

.card-header  {
	padding: 1rem;
}

.card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #f0f0f0;
}

.card-header button {
	background: var(--main-color);
	border-radius: 10px;
	color: #fff;
	font-size: 0.8rem;
	padding: 0.5rem 1rem;
	border: 1px solid var(--main-color);
}

table {
	border-collapse: collapse;
}

thead tr {
	border-top: 1px solid #f0f0f0;
	border-bottom: 2px solid #f0f0f0;
}

thead td {
	font-weight: 700;
}

td {
	padding: 0.5rem 1rem;
	font-size: 0.9rem;
	color: #222;
}

td .status {
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	margin-right: 1rem;
}

tr td:last-child {
	display: flex;
	align-items: center;
}

.status.purple {
	background: rebeccapurple;
}

.status.pink {
	background: deeppink;
}

.status.orange {
	background: orangered;
}

.table-responsive {
	width: 100%;
	overflow-x: auto;
}

.customer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 0.7rem;
}

.info {
	display: flex;
	align-items: center;
}

.info img {
	border-radius: 50%;
	margin-right: 1rem; 
}

.info h4 {
	font-size: 0.8rem;
	font-weight: 700;
	color: #222;
}

.info small {
	font-weight: 600;
	color: var(--text-grey);
}

.contact span {
	font-size: 1.2rem;
	display: inline-block;
	margin-left: 0.5rem;
	color: var(--main-color);
}

@media only screen and (max-width: 1200px) {

.sidebar {
	width: 70px;
}

.sidebar .sidebar-brand ,
.sidebar li {
	padding-left: 1rem;
	text-align: center;
}

.sidebar li a {
	padding-left: 0rem;
}


.sidebar .sidebar-brand h2 span:last-child,
.sidebar li a span:last-child {
	display: none; 
}

.main-content {
	margin-left: 70px;
}

.main-content header {
	width: calc(100% - 70px);
	left: 70px;
	}
}

body{
    font-family: 'Montserrat', serif;
    overflow-x: hidden;
}

.main{ 
	margin-top: 100px;
	margin-left: 700px;
    background-color: #406b15;
    width: 500px;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
}

.household {
	margin-left: 400px;
}
hr{ 
    position: relative;
    margin: auto;
    width: 500px;
}

.main_img{ /*image inside*/
    display: block;
    margin: auto;
}

.main_txt{
    padding-top: 10px;
    text-align: center;
    color: #f9f7f1;
}

#hhtitle{
    text-align: center;
}

.container{
    background-color: #e5e0c0;
    width: 400px;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    margin: auto;
	margin-bottom: 20px;
}

.hh_img{
    display: block;
    margin: auto;
}

.hh_text{
    text-align: center;
    padding-top: 10px;
}

hr {
	margin-left: 700px;
}

.other{
    padding-top: 10px;
}

.moreinfo {
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-family: 'Montserrat', serif;
    font-size: 16px;
    margin: auto;
    transition-duration: 0.7s;
    cursor: pointer;
    background-color: #fff; 
    color: black; 
    border: 2px solid #9AAE09;
}

.moreinfo:hover{
    background-color: #9AAE09;
    color: #fff;
}

.sulod {
	margin-left: 500px;
}

.img{
    position: relative;
    left: 30px;
    top: 40px;
    width: 200px;
    border: 5px solid #9AAE09;
}

.name{
    position: relative;
    top: -60px;
    left: 400px;
    font-family: 'Montserrat', serif;
    font-size: 15px;
}

.dob{
    position: relative;
    top: -60px;
    left: 400px;
}

hr.new5{
	margin-left: 30px;
	margin-bottom: 25px;
    border: 10px solid green;
	border-radius: 5px;
	width: 700px;
}

.details{
    position: relative;
    left: 40px;

}

.records{
    position: relative;
    left: 40px;
    top:30px;
}

.records_title {
    font-size: 20px;
    font-family: 'Merriweather', sans-serif;
}

.sulod {
	margin-left: 550px;
	margin-top: 100px;
	margin-bottom: 20px;
	width: 50%;
	height: 700px;
	display: inline-block;
	box-shadow: 0 27px 87px rgba(0,0,0,0.37);
	border-radius: 20px;
}
